<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Sneaker Freaker</title>
  </head>
  <body id="body">

    <div class="hero-head">
        <nav id="navbar" class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a>
                <img id="logote" src="/images/Screen Shot 2018-10-30 at 11.39.34.png" href="/" alt="Logo">
              </a>

              <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">





              </div>
            </div>
          </div>
        </nav>
      </div>
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="columns is-gapless is-vcentered is-mobile is-multiline">

                    <div class="column is-8-desktop is-full-mobile has-text-centered">
                        <img src="/images/Screen Shot 2018-10-30 at 10.42.35.png" width="400px" height="600px" alt="sneakerbloglogo">
                    </div>
                    <div class="column is-1-desktop is-full-mobile has-text-centered ">
                        <div class="new-user">
                            <p> New user? </p>
                            <a class="button is-light" href="/register">Register</a>
                        </div>
                        <div class="existing-user">
                            <p>Existing user?</p>
                            <a class="button is-light" href="/login">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>




    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
<li>
            <a id="orange">About</a></li>
            <li>
              <a id="orange">Support</a>
            </li>
            <li>
              <a id="orange">privacy</a>
            </li>
            <li>
              <a id="orange">terms</a>
            </li>
            <li>
              <a id="orange">©2018 Sneaker Freaker</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
