

body {
  margin: 0;
  background-color: white;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}

#body {

line-height: 1.7;
}
/* .container {
  margin: 0;
}

.footercontainer {
  margin: 0;
} */
#margin {
  margin-top: 80px;
}
/* .container1 {
background-color: black;
margin-bottom: -48px;
height: 56px;
} */

.hero-foot {
  background-color: black;
  flex-shrink: 0;
}

.wrapper {
  flex: 1 0 auto;
}

section.section {
  padding-top: 0px;
  padding-bottom: 7.7rem;
}

#navbar {
  background-color: black;
}
.new-user{
      margin-bottom: 25px;
}
/* .container {
  background-color: black;
} */
#orange {
  color: darkorange;
  font-weight: bold;
}
p {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
#grande {
  margin-top: 10px;
font-weight: bold;
color: black;
font-size: 20px;
}
#logote {
  height: 45px;
margin-top: 3px;
margin-bottom: -4px;
}
