* {


  background-color: white;
}
/* img {
  border-radius: 100px;
width: 300px;
height: 300px;
} */
body {
  margin: 0;
  background-color: white;
}
/* .container {
  margin: 0;
}

.footercontainer {
  margin: 0;
} */
