body {
  margin: 0;
  background-color: white;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}

#body {

  line-height: 1.7;
}

#margin {
  margin-top: 80px;
}

.hero-foot {
  background-color: black;
  flex-shrink: 0;
}

.wrapper {
  flex: 1 0 auto;
}

section.section {
  padding-top: 0px;
  padding-bottom: 7.7rem;

}

#navbar {
  background-color: black;
}
.new-user{
  margin-bottom: 25px;
}

#orange {
  color: darkorange;
  font-weight: bold;
}
#ghost {
  color: darkorange;
  font-weight: bold;
  font-size: 30px;
}
p {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
#grande {
  margin-top: 10px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
#logote {
  height: 45px;
  margin-top: 3px;
  margin-bottom: -4px;
}
#resize {
  margin-left: 60px;
  margin-top: 40px;
}

#justificado {
  text-align: justify;
  font-weight: 400;
  font-size: 17px;
}

#pricy {
  margin-bottom: 20px;
  font-size: 20px;
}

#mage {
  margin-top: 50px;
  margin-left: 10px;
}

#mage2 {
  margin-top: -100px;
  margin-left: 20px;
}

#button:hover {
  background-color: darkorange;
  color: black;
}

#button  {
  color: darkorange;
  font-weight: bold;
  background-color: black;
  font-size: 17px;
  border-radius: 6px;
}

#muevelo {
  margin-top: 10px;
}

#modelling {
  font-size: 20px;
}

#buttons {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 449px;
  margin-top: 42px;

}
#reviews {
  margin-left: 364px;
  margin-top: 30px;

}
#aligned {
  margin-top: 0px;
  margin-left: 0px;
}

#horz {
  margin-top: -110px;
}

#caja {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  width: 458px;
  margin-top: 4px;
  height: 77px;
  margin-left: -33px;
}

#button1 {
  width: 99px;
  height: 41px;
  color: darkorange;
  font-weight: bold;
  background-color: black;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 21px;
}

#button1:hover {
  background-color: darkorange;
  color: black;
}

#equix {
  margin-right: -427px;

  margin-top: -50px;
}

#extra {
  font-size: 20px;
}

#area {
  width: 200px;
  height: 100px;
}

#text {
  margin-top: -28px;
}

#cuadro {
  width: 56px;
  height: 30px;
  border: 1px solid rgb(204, 204, 204);
}

#marginado {
  margin-left: 65px;
}
