<h1>Edit your Sneakers</h1>
<form class="" action="/sneakers/<%= _id %>?_method=PUT" method="post">
  <input type="text" name="model" value="<%= model %>">
  <input type="number" name="price" value="<%= price %>">
  <input type="text" name="image" value="<%= image %>">
  <button>Edit</button>
</form>
