

<main>

  <div class="">
    <% sneakers.forEach(sneaker => {%>
      <div>
      <a href="/sneakers/<%= sneaker.id %>">
        <p>£<%= sneaker.price %></p>
      <img width="500px" height="500px" src="<%= sneaker.image %>" />
      <h3><%= sneaker.model %></h3>
      </a>
      </div>
      <% }) %>
    </div>
</main>
